<!doctype html>
<html class="no-js" lang="en-gb">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width;initial-scale=1">
    <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
    <title>{{ title }}</title>
    {% set css %}
      {% include './css/barnardos.css' %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
    <style>
      @media screen and (min-width:56.667rem) {
        .prototype-layout {
          display: grid;
          grid-template-columns: 2fr 1fr;
          grid-template-rows: masonry;
          grid-auto-flow: dense;
          grid-gap: 0 7rem;
          margin: 0 auto;
          max-width: 87.5rem;
        }

        .header,
        .breadcrumbs,
        .hero,
        .events,
        .location-search-box {
          grid-column: 1 / -1;
        }

        .tags,
        .prose,
        .help,
        .gallery,
        .embedYouTube,
        .team,
        .quote {
          grid-column: 1 / 2;
        }

        .service-logos,
        .contact-downloads {
          grid-column: 2 / 3;
        }
      }
    </style>
    <div class="prototype-layout">
      {{ content | safe }}
    </div>
    <script src="/js/scripts.js"></script>
  </body>
</html>
