<style>
  .quote {
    margin: 0 1rem 2rem;
    padding: 0;
  }

  .rich-text blockquote p {
    display: block;
  }
</style>

<div class="quote ">
  <div class="text-block__inner">      
    <div class="rich-text">
      <h2>Case Studies</h2>
      <blockquote>
        <p>When Jenny from Barnardo’s came along she was an absolute lifesaver. She helped with food vouchers and would go to the foodbank and collect food for us.</p>
        <p>Read Amanada's Story</p>
      </blockquote>
    </div>
  </div>
</div>
