<div class="text-block">
    <div class="text-block__inner">      
        <div class="rich-text">
            <h2>Case Studies</h2>
            <blockquote>
                <p><span><span><span><span><span><span>When Jenny from Barnardo’s came along she was an absolute lifesaver. She helped with food vouchers and would go to the foodbank and collect food for us. </span></span></span></span></span></span></p>
                </br>
                </br>
                <p>Read Amanada's Story ></p>
            </blockquote>
        </div>
    </div>
</div>
