<div class="breadcrumbs breadcrumbs--no-trans">
  <div class="breadcrumbs__inner">
    <div class="breadcrumbs__tree">
      <nav aria-label="Breadcrumb">
        <a href="/">Home</a><a href="/who-we-are">Who we are</a>
      </nav>
    </div>
  </div>
</div>

