<style>
  .breadcrumbs {
    margin: 0;
  }

  @media screen and (min-width:48rem) {
    .breadcrumbs__inner {
      margin: 0;
    }
  }
</style>

<div class="breadcrumbs breadcrumbs--no-trans">
  <div class="breadcrumbs__inner">
    <div class="breadcrumbs__tree">
      <nav aria-label="Breadcrumb">
        <a href="#1">Home</a><a href="#1">What we do</a><a href="#1">Children's Services</a>
      </nav>
    </div>
  </div>
</div>

