<style>
  .contact {
    padding: 0 1rem;
    margin: 0 0 2rem;
  }

  .service-entity .line {
    border-bottom: 1px solid #ccc;
    margin: 2rem 0;
  }

.service-entity__item {
    margin-left: -2rem;
}

  .service-entity__item a {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }

  .service-entity th {
    font-weight: bold;
    text-align: left;
  }

  .service-entity td:first-child {
    padding-right: 1rem;
  }

  .service-entity b {
    font-weight: bold;
  }
</style>

<div class="contact">
  <aside>
    <div class="service-entity ">
      <div class="service-entity__section">
        <h2 class="service-entity__heading">Contact details</h2>

        <dl class="service-entity__list">
          <dt><img src="/img/greenphone.png" width="18" height="18"></dt><dd class="service-entity__item">020 8771 0907</dd>
          <dt><img src="/img/greenemail.png" width="18" height="18"></dt><dd class="service-entity__item"><a href="mailto:LondonSupportedLodgings@barnardos.org.uk">LondonSupportedLodgings@barnardos.org.uk</a></dd>
          <dt><img src="/img/greencomputer.png" width="18" height="18"></dt><dd class="service-entity__item"><a href="#1">Visit the website for this service</a></dd>
        </dl>

        <div class="line"></div>

        <dl class="service-entity__list">
          <dt><span class="teaser__icon teaser__event_icon--region"></dt><dd class="service-entity__item">Barnardo's, The Triangle<br>2 Coxwell Road<br>Upper Norwood<br>London<br>SE19 3BG</dd>
          <dd class="service-entity__item">
            <a href="https://www.google.com/maps/search/?api=1&amp;query=51.4171178%2C-0.0844172" target="_blank">View on Google Maps</a>
          </dd>
          <dt><span class="teaser__icon teaser__event_icon--time"></dt><dd class="service-entity__item">
            <table>
              <thead>
                <tr>
                  <th colspan="2">Opening hours</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Monday</td>
                  <td>10.30am - 2pm</td>
                </tr>
                <tr>
                  <td>Tuesday</td>
                  <td>10.30am - 2pm</td>
                </tr>
                <tr>
                  <td>Wednesday</td>
                  <td>10.30am - 2pm</td>
                </tr>
                <tr>
                  <td>Thursday</td>
                  <td>Closed</td>
                </tr>
                <tr>
                  <td>Thursday</td>
                  <td>Closed</td>
                </tr>
              </tbody>
            </table>
          </dd>
          <dt><img src="/img/greentick.png" width="18" height="18"></dt><dd class="service-entity__item"><b>Accessibility</b><p>Premises are fully accessible to people with disabilites.</dd>
        </dl>

      </div>
    </div>
  </aside>
</div>

