<style>
  .contact {
    padding: 0 1rem;
    margin: 0 0 2rem;
  }

@media screen and (min-width:30rem) {
  dt {
    text-align: center;
  }
}

@media screen and (min-width:64rem) {
  dt {
    text-align: left;
  }
}

@media screen and (min-width:64rem) {
  .contact {
    margin-top: -1rem;
  }
}

  .service-entity .line {
    border-bottom: 1px solid #ccc;
    margin: 2rem 0;
  }

.service-entity__item {
    margin-left: -2rem;
}

  .service-entity__item a {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }

  .service-entity th {
    font-weight: bold;
    padding-bottom: 0.5rem;
    text-align: left;
  }

  .service-entity td:first-child {
    padding-right: 1rem;
  }

  .service-entity b {
    font-weight: bold;
  }
</style>

<div class="contact">
  <aside>
    <div class="service-entity ">
      <div class="service-entity__section">
        <h2 class="service-entity__heading">Contact details</h2>

        <dl class="service-entity__list">
          <dt><img src="/img/phone.svg"></dt><dd class="service-entity__item">0208 427 1322</dd>
          <dt><img src="/img/email.svg"></dt><dd class="service-entity__item"><a href="mailto:harrowhorizons@barnardos.org.uk">LondonSupportedLodgings@barnardos.org.uk</a></dd>
          <dt><img src="/img/website.svg"></dt><dd class="service-entity__item"><a href="#1">Visit the website for this service</a></dd>
        </dl>

        <div class="line"></div>

        <dl class="service-entity__list">
          <dt><img src="/img/map.svg"</dt><dd class="service-entity__item">Harrow Horizons<br>The 21 Building<br>21 Pinner Road<br>Harrow<br>HA1 4ES</dd>
          <dd class="service-entity__item">
            <a href="https://www.google.com/maps/search/?api=1&amp;query=51.4171178%2C-0.0844172" target="_blank">View on Google Maps</a>
          </dd>
          <dt><img src="/img/Opening-hours.svg"</dt><dd class="service-entity__item">
            <table>
              <thead>
                <tr>
                  <th colspan="2">Opening hours</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Monday</td>
                  <td>09.00am - 5pm</td>
                </tr>
                <tr>
                  <td>Tuesday</td>
                  <td>09.00am - 5pm</td>
                </tr>
                <tr>
                  <td>Wednesday</td>
                  <td>10.30am - 2pm</td>
                </tr>
                <tr>
                  <td>Thursday</td>
                  <td>09.00am - 5pm</td>
                </tr>
                <tr>
                  <td>Friday</td>
                  <td>Closed</td>
                </tr>
              </tbody>
            </table>
          </dd>
          <dt><img src="/img/tick.svg"></dt><dd class="service-entity__item"><b>Accessibility</b><p>Premises are fully accessible to people with disabilites.</dd>
        </dl>

      </div>
    </div>
  </aside>
</div>

