<style>
  .download-block {
    margin-bottom: 2rem;
  }
</style>

<div class="download-block">
  <div class="download-block__contain">
    <h3 class="sub-heading">Helpful documents</h3>
    <div class="download-block__links">
      <article>
        <div><span class="file file--mime-application-vnd-openxmlformats-officedocument-wordprocessingml-document file--x-office-document"><a href="https://www.barnardos.org.uk/sites/default/files/2021-05/London%20Supported%20Lodging%20Application%20Form.docx" type="application/vnd.openxmlformats-officedocument.wordprocessingml.document; length=147008" title="London Supported Lodging Application Form.docx" target="_blank">London Supported Lodgings Application Form</a></span>
        </div>
      </article>

      <article>
        <div><span class="file file--mime-application-pdf file--application-pdf"><a href="https://www.barnardos.org.uk/sites/default/files/2021-05/London%20Supported%20Lodgings%20Leaflet%202020.pdf" type="application/pdf; length=5567334" title="London Supported Lodgings Leaflet 2020.pdf" target="_blank">London Supported Lodgings Leaflet</a></span>
</div>
      </article>
      <article>
        <div><span class="file file--mime-application-pdf file--application-pdf"><a href="https://www.barnardos.org.uk/sites/default/files/2021-08/2020%20Your%20Data%20Your%20Rights%20Leaflet%20-%20London%20Supported%20Lodgings%20Service.pdf" type="application/pdf; length=144237" title="2020 Your Data Your Rights Leaflet - London Supported Lodgings Service.pdf" target="_blank">2020 Your Data Your Rights Leaflet - London Supported Lodgings Service</a></span>
        </div>
      </article>
      <article>
        <div><span class="file file--mime-application-pdf file--application-pdf"><a href="https://www.barnardos.org.uk/sites/default/files/2021-10/London%20Supported%20Lodgings%20Application%20Guidance%20Notes_0.pdf" type="application/pdf; length=421536" title="London Supported Lodgings Application Guidance Notes_0.pdf" target="_blank">London Supported Lodgings Application Guidance Notes</a></span>
        </div>
      </article>
    </div>
  </div>
</div>
