<style>
  .teaser-list {
    width: 100%;
    margin: 0 1rem 2rem;
    padding: 0;
  }



  .teaser__inner {
    box-sizing: border-box;
  }

.teaser-list__page-info {
        font: 700 1.802rem/2.25rem proxima-nova,sans-serif;
}
</style>

<div class="teaser-list events">
    <div class="teaser-list__page-info">Events</div>
        <ul class="teaser-list__teasers">
            <li class="teaser-list__item"><article class="teaser teaser__event">
                <div class="teaser__container">
                    <div class="teaser__row teaser__event_row teaser__row--wide">
                        <div class="teaser__col--wide teaser__col--wide-no-image">
                            <div class="teaser__event_inner teaser__inner teaser__inner--wide teaser__event_inner--wide">
                                <span class="teaser__type">RunningFundraising</span>
                                <span class="teaser__event_topic topic"></span>
                                    <div class="teaser__event_key">
                                        <div class="teaser__event_key-item"><span class="teaser__icon teaser__event_icon--date" aria-title="Date"></span>
                                            27 Mar 2022
                                        </div>
                                        <div class="teaser__event_key-item"><span class="teaser__icon teaser__event_icon--money" aria-title="Prices"></span>
                                            Entry fee: £1        
                                        </div>
                                        <div class="teaser__event_key-item"><span class="teaser__icon teaser__event_icon--region"></span>
                                            London
                                        </div>
                                    </div>
                                    <div class="teaser__event_content">
                                        <h3 class="teaser__title"><a href="/events/cardiff-half-marathon" hreflang="en">Bake Sale</a></h3>
                                        <p class="teaser__body">Cupcakes, traybakes and victoria spronge.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </article></li>
            <li class="teaser-list__item"><article class="teaser teaser__event">
                <div class="teaser__container">
                    <div class="teaser__row teaser__event_row teaser__row--wide">
                        <div class="teaser__col--wide teaser__col--wide-no-image">
                            <div class="teaser__event_inner teaser__inner teaser__inner--wide teaser__event_inner--wide">
                                <span class="teaser__type">Fundraising</span>
                                <span class="teaser__event_topic topic"></span>
                                <div class="teaser__event_key">
                                    <div class="teaser__event_key-item"><span class="teaser__icon teaser__event_icon--date" aria-title="Date"></span>
                                        11 Sep 2022
                                    </div>
                                    <div class="teaser__event_key-item"><span class="teaser__icon teaser__event_icon--money" aria-title="Prices"></span>
                                        Entry fee: £5 Earlybird Offer              
                                    </div>
                                    <div class="teaser__event_key-item"><span class="teaser__icon teaser__event_icon--region"></span>
                                        London
                                    </div>
                                </div>
                                <div class="teaser__event_content">
                                    <h3 class="teaser__title"><a href="/events/great-north-run-2022" hreflang="en">Book Event</a></h3>
                                    <p class="teaser__body">Classic's, Science Fiction, Romance and Horror</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article></li>
        </ul>
    </div>
