<style>
  .grid {
    margin: 0 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 1rem;
  }

  .grid img {
    width: 100%;
    height: auto;
    aspect-ratio: 170 / 120;
  }
</style>

<div class="grid">
  <div>
    <img src="https://placekitten.com/340/240" width="170" height="120">
  </div>
  <div>
    <img src="https://placekitten.com/340/240" width="170" height="120">
  </div>
  <div>
    <img src="https://placekitten.com/340/240" width="170" height="120">
  </div>
  <div>
    <img src="https://placekitten.com/340/240" width="170" height="120">
  </div>
  <div>
    <img src="https://placekitten.com/340/240" width="170" height="120">
  </div>
  <div>
    <img src="https://placekitten.com/340/240" width="170" height="120">
  </div>
</div>
