<style>
  .gallery {
    margin: 0 1rem 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 1rem;
  }

  .gallery img {
    width: 100%;
    height: auto;
    aspect-ratio: 170 / 120;
  }
</style>

<div class="gallery">
  <div>
    <img src="/img/Barnardo's BIg Toddle.jpeg" width="170" height="120">
  </div>
  <div>
    <img src="/img/Bay6-4.jpeg" width="170" height="120">
  </div>
  <div>
    <img src="/img/Bay6-9.jpeg" width="170" height="120">
  </div>
  <div>
    <img src="/img/foster-fortnight-1.jpeg" width="170" height="120">
  </div>
  <div>
    <img src="/img/Girl-in-wheelchair.jpeg" width="170" height="120">
  </div>
  <div>
    <img src="/img/families-icon.jpeg" width="170" height="120">
  </div>
</div>
