<div class="header">
  <a href="#main-content" class="skip-link focusable">Skip to main content</a>
  <a href="#footer" class="skip-link focusable">Skip to footer</a>

  <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
    <div>

      <header>
        <div>
          <div id="block-hero-block">
            <div class="header">
              <div class="header__row">
                <div class="header__logo">
                  <a class="logo" href="/">Homepage</a>
                </div>
              </div>

              <nav aria-label="Main navigation menu">
                <div class="header-extras">
                  <div class="header-links js-header-links" id="header-links">
                    <a class="prominent-link prominent-link--tight prominent-link--green" href="https://dev-donate.barnardos.org.uk">
                      <span>Donate</span>
                    </a>
                    <a class="prominent-link prominent-link--tight prominent-link--black" href="//www.barnardos.org.uk/shops">
                      <span>Shop</span>
                    </a>
                  </div>
                  <div class="main-search js-main-search" id="main-search">
                    <form action="/merged-search" method="get">
                      <div class="search-form">
                        <div class="search-form__query-container">
                          <label class="search-form__label-layout"><span class="search-form__label">Search: site search</span>
                            <input class="search-form__input search-form__input--wrapper-text" type="text" name="q" placeholder="" value="">
                          </label>
                          <input class="search-form__submit" type="submit" value="Search">
                        </div>
                      </div>
                    </form>
                  </div>
                </div>

                <div class="main-menu js-main-menu">
                  <ul class="main-menu__menu">
                    <li class="main-menu__item">
                      <a href="/who-we-are" title="About Barnardo&#039;s" class="main-menu__link" data-drupal-link-system-path="node/36">Who we are</a>
                      <ul class="main-menu__sub-menu">
                        <li class="main-menu__sub-item">
                          <a href="/who-we-are/our-history" title="How we&#039;ve supported children and young people for over 150 years." class="main-menu__sub-link" data-drupal-link-system-path="node/101">Our history</a>
                        </li>
                        <li class="main-menu__sub-item">
                          <a href="/who-we-are/our-annual-report" title="Barnardo&#039;s annual report and accounts and gender pay gap report." class="main-menu__sub-link" data-drupal-link-system-path="node/91">Our annual report</a>
                        </li>
                        <li class="main-menu__sub-item">
                          <a href="/who-we-are/gender-pay-gap-report" title="Barnardo&#039;s annual gender pay gap reports." class="main-menu__sub-link" data-drupal-link-system-path="node/23951">Our Gender Pay Gap </a>
                        </li>
                        <li class="main-menu__sub-item">
                          <a href="/who-we-are/measuring-our-impact" title="The effect our services have on children, young people, families" class="main-menu__sub-link" data-drupal-link-system-path="node/96">Our strategy and impact</a>
                        </li>
                        <li class="main-menu__sub-item">
                          <a href="/who-we-are/how-were-funded" title="Where our money comes from and how we use it." class="main-menu__sub-link" data-drupal-link-system-path="node/81">How we’re funded</a>
                        </li>
                        <li class="main-menu__sub-item">
                          <a href="/who-we-are/our-chief-executive" title="Our CEO, trustees and patrons." class="main-menu__sub-link" data-drupal-link-system-path="node/12046">Our organisation</a>
                        </li>
                        <li class="main-menu__sub-item">
                          <a href="/who-we-are/where-we-work" title="Our work across the UK" class="main-menu__sub-link" data-drupal-link-system-path="node/12101">Where we work</a>
                        </li>
                      </ul>
                    </li>

                    <li class="main-menu__item">
                      <a href="/what-we-do" class="main-menu__link" data-drupal-link-system-path="node/156">What we do</a>
                      <ul class="main-menu__sub-menu">
                        <li class="main-menu__sub-item">
                          <a href="/what-we-do/fostering-and-adoption" class="main-menu__sub-link" data-drupal-link-system-path="node/221">Fostering and adoption</a>
                        </li>
                        <li class="main-menu__sub-item">
                          <a href="/what-we-do/helping-families" class="main-menu__sub-link" data-drupal-link-system-path="node/336">Helping families</a>
                        </li>
                        <li class="main-menu__sub-item">
                          <a href="/what-we-do/supporting-young-people" class="main-menu__sub-link" data-drupal-link-system-path="node/341">Supporting young people</a>
                        </li>
                        <li class="main-menu__sub-item">
                          <a href="/what-we-do/protecting-children" class="main-menu__sub-link" data-drupal-link-system-path="node/331">Protecting children</a>
                        </li>
                        <li class="main-menu__sub-item">
                          <a href="/what-we-do/voice-influence-young-people" title="Involving children and young people in decisions that affect their lives" class="main-menu__sub-link" data-drupal-link-system-path="node/25936">Voice and influence of young people</a>
                        </li>
                      </ul>
                    </li>

                    <li class="main-menu__item">
                      <a href="/get-involved" class="main-menu__link" data-drupal-link-system-path="node/1636">Get involved</a>
                      <ul class="main-menu__sub-menu">
                        <li class="main-menu__sub-item">
                          <a href="/get-involved/change-life" title="Make a donation to support our work" class="main-menu__sub-link" data-drupal-link-system-path="node/1">Make a donation</a>
                        </li>
                        <li class="main-menu__sub-item">
                          <a href="/donate/other-ways-donate" title="Find out different ways to donate" class="main-menu__sub-link" data-drupal-link-system-path="node/371">Donate in other ways</a>
                        </li>
                        <li class="main-menu__sub-item">
                          <a href="/get-involved/raise-money" class="main-menu__sub-link" data-drupal-link-system-path="node/571">Raise money for us</a>
                        </li>
                        <li class="main-menu__sub-item">
                          <a href="/get-involved/challenge-events" title="Challenge yourself" class="main-menu__sub-link" data-drupal-link-system-path="node/1641">Challenge yourself</a>
                        </li>
                        <li class="main-menu__sub-item">
                          <a href="/get-involved/volunteer" class="main-menu__sub-link" data-drupal-link-system-path="node/1666">Volunteer with us</a>
                        </li>
                        <li class="main-menu__sub-item">
                          <a href="/get-involved/campaign-with-us" class="main-menu__sub-link" data-drupal-link-system-path="node/25931">Campaign with us</a>
                        </li>
                      </ul>
                    </li>

                    <li class="main-menu__item">
                      <a href="/work-with-us" class="main-menu__link" data-drupal-link-system-path="node/11976">Work with us</a>
                      <ul class="main-menu__sub-menu">
                        <li class="main-menu__sub-item">
                          <a href="/jobs-at-barnardos" class="main-menu__sub-link" data-drupal-link-system-path="node/11981">Jobs</a>
                        </li>
                        <li class="main-menu__sub-item">
                          <a href="/commission-us" class="main-menu__sub-link" data-drupal-link-system-path="node/486">Commission us</a>
                        </li>
                        <li class="main-menu__sub-item">
                          <a href="/partners" class="main-menu__sub-link" data-drupal-link-system-path="node/25941">Corporate partnerships</a>
                        </li>
                        <li class="main-menu__sub-item">
                          <a href="https://www.barnardos.org.uk/get-involved/philanthropy" class="main-menu__sub-link">Philanthropy</a>
                        </li>
                      </ul>
                    </li>

                    <li class="main-menu__item">
                      <a href="/news" class="main-menu__link" data-drupal-link-system-path="node/11381">News and blog</a>
                      <ul class="main-menu__sub-menu">
                        <li class="main-menu__sub-item">
                          <a href="/news" class="main-menu__sub-link" data-drupal-link-system-path="node/11381">News</a>
                        </li>
                        <li class="main-menu__sub-item">
                          <a href="/blog" class="main-menu__sub-link" data-drupal-link-system-path="node/11611">Blog</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>
</div>
