<style>
  .help {
    margin: 0 0 3rem !important;
    padding: 0 1rem;
  }

  .help .text-block__lead {
    margin-top: 0;
  }

.bulletsneeded {
  list-style-type: disc;
  padding-left: 1rem;
}

.heading {
  padding-bottom: 1rem;
}

  @media screen and (min-width:56.667rem) {
    .help {
      margin-top: -2rem !important;
    }
  }
</style>

<div class="text-block help">
  <div class="text-block__lead">
    <h2 class="heading">We can help with</h2>
    <div>
      <ul class="bulletsneeded">
        <li>
          <a href="#1">Leaving care</a>
        </li>  
          <p class="rich-text">Supporting the transition to independent living, including advice, supported lodgings, help getting a job.</p>
        <li>
          <a href="#1">Housing and homelessness</a>
         <p class="rich-text">Housing support to assist and sustain independent living. Raising awareness through educational visits and improving the understanding of risks.</p>
        </li>
      </ul>
    </div>
  </div>
</div>
