<style>
  .help {
    margin: 0 0 3rem !important;
    padding: 0 1rem;
  }

  .help .text-block__lead {
    margin-top: 0;
  }

.bulletsneeded {
  list-style-type: disc;
  padding-left: 1rem;
}

.heading {
  padding-bottom: 1rem;
}

  @media screen and (min-width:56.667rem) {
    .help {
      margin-top: -2rem !important;
    }
  }
</style>

<div class="text-block help">
  <div class="text-block__lead">
    <h2 class="heading">We can help with</h2>
    <div>
      <ul class="bulletsneeded">
        <li>
          <a href="#1">Mental Health</a>
        </li>  
          <p class="rich-text">Services supporting children and young people's emotional health and wellbeing, from one-to-one counselling to group work and schools-based programmes. We have centres where children and young people can visit and have a trained worker they can trust and talk to. We help them build their confidence and get to the root of their difficulties.</p>
      </ul>
    </div>
  </div>
</div>
