<style>
  .help {
    margin: 0 0 2rem;
    padding: 0 1rem;
  }
</style>

<div class="text-block help">
  <div class="text-block__lead">
    <h2 class="heading">We can help with</h2>
    <div>
      <a href="#1">Leaving care</a>
      <p class="rich-text">Supporting the transition to independent living, including advice, supported lodgings, help getting a job.</p>

      <a href="#1">Housing and homelessness</a>
      <p class="rich-text">Housing support to assist and sustain independent living. Raising awareness through educational visits and improving the understanding of risks.</p>
    </div>
  </div>
</div>
