<style>
  .hero {
    margin-bottom: 3rem;
  }

  .hero div {
    height: 250px;
    overflow: hidden;
  }

  .hero img {
    object-fit: cover;
    width: 100%;
  }

  .hero h1 {
    background-color: #558200;
    color: white;
    font: 700 2.887rem/3.5rem proxima-nova,sans-serif;
    padding: 1rem 1.5rem;
    margin: -3rem 1rem 0;
    position: relative;
    z-index: 1;
  }

  @media screen and (min-width:56.667rem) {
    .hero div {
      height: 450px;
    }

    .hero h1 {
      width: max-content;
    }
  }
</style>

<div class="hero">
  <div>
    <img src="/img/two-young-brothers-hugging-smiling.png">
  </div>
  <h1>Harrow Horizons Service</h1>
</div>
