<style>
  .hero {
  }

  .hero div {
    height: 250px;
    overflow: hidden;
  }

  .hero img {
    object-fit: cover;
  }

  .hero h1 {
    background-color: #558200;
    color: white;
    font: 700 2.887rem/3.5rem proxima-nova,sans-serif;
    padding: 1rem 1.5rem;
    margin: -3rem 1rem 0;
    position: relative;
    z-index: 1;
  }
</style>

<div class="hero">
  <div>
    <img src="https://placekitten.com/1000/1000">
  </div>
  <h1>London Supported Lodgings Service</h1>
</div>
