<style>
  .location-search-box {
    margin: 0 1rem 2rem;
    padding: 0
  }

  .location-search-box__image--service1 {
      background-image: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)),url(/img/services-bg.jpeg);
      background-position: center 30%;
  }
</style>

<div class="location-search-box location-search-box--image" data-gkey="">
    <div class="location-search-box--wrap">
        <div class="location-search-box__image location-search-box__image--service1">
            <input type="hidden" name="lat" value="">
            <input type="hidden" name="lng" value="">
            <div class="search-box">
                <div class="search-box__inner">
                    <div class="search-box__title">
                        <h2 class="heading">Find a service</h2>
                    </div>
                    <div class="search-box__wrap">
                        <div class="search-form">
                            <div class="search-form__query-container">
                                <label class="search-form__label-layout"><span class="search-form__label">Search: site search</span>
                                    <input class="search-form__input search-form__input--wrapper-text pac-target-input" type="text" name="q" placeholder="Location or postcode" value="" role="combobox" aria-autocomplete="none" aria-expanded="false" autocomplete="off">
                                </label>
                                <input class="search-form__submit" type="submit" value="Search">
                            </div>
                            <input type="hidden" name="ct" value="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
