<style>
  .team {
    margin: 0 1rem 1rem;
  }

  .person {
    margin-bottom: 2rem;
  }

  .sub-heading {
      font-size: 1.25rem;
      font-weight: bold;
  }

  .circle {
      border-radius: 50%;
      width: 100px;
      height: 100px;  
  }
</style>

<div class="team">
  <div class="heading">Meet the team</div>
  <div class="person">
    <div class="picture"><img src="/img/team.jpeg" class="circle" alt="Avatar"></div>
    <div>
      <p class="sub-heading">Clare - Project Worker</p>
      <p class="text">Hello my name is Clare. I'm a part-time Project Worker and I work Mondays, Thursdays and Fridays.  I love walking, swimming and walking my dog.  I love all things chocolate and sweets</p>
    </div>
  </div>

  <div class="person">
    <div class="picture"><img src="/img/teamsue.jpeg" class="circle" alt="Avatar"></div>
    <div>
      <p class="sub-heading">Sue - Team Manager</p>
      <p class="text">Hello my name is Sue. I'm a Team Manager responsible for the running of the service.  I love rock climbing and watching Netflix. I love to bake bread in my free time when I have a few minutes from doing the school runs.</p>
    </div>
  </div>
</div>
