<style>
.heading {
    font: 700 1.802rem/2.25rem proxima-nova,sans-serif;
    padding: 2rem;
}

.sub-heading {
    font-size: 1.25rem;
    font-weight: bold;
    padding-left: 2rem;
}

.text {
    padding-left: 2rem;
    padding-bottom: 1rem;
}

.picture {
    padding-left: 2rem;
}

img {
    border-radius: 50%;
    width: 100px;
    height: 100px;  
}

</style>

<div class="heading">Meet the team</div>
    <div class="picture"><img src="/img/team.jpeg" alt="Avatar"></div>
    <div>
        <p class="sub-heading">Name of worker - Job title</p>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>


     <div class="picture"><img src="/img/catmeet.jpeg" alt="Avatar"></div>
    <div>
        <p class="sub-heading">Name of worker - Job title</p>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
