<style>
  .team {
    margin: 0 1rem 1rem;
  }

  .person {
    margin-bottom: 2rem;
  }

  .meet-heading {
    font: 300 1.802rem/2.25rem proxima-nova, sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    padding-left: 6.5rem;
  }

  .circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;  
  }

  .picture {
      float: left;
  }

  .text {
      padding-left: 6.5rem;
  }

</style>

<div class="team">
  <div class="heading">Meet the team</div>
  <div class="person">
    <div class="picture"><img src="/img/team.jpeg" class="circle" alt="Avatar"></div>
    <div>
      <p class="meet-heading">Clare - Project Worker</p>
      <p class="text">Hello my name is Clare. I'm a part-time Project Worker and I work Mondays, Thursdays and Fridays.  I love walking, swimming and walking my dog.  I love all things chocolate and sweets</p>
    </div>
  </div>

  <div class="person">
    <div class="picture"><img src="/img/teamsue.jpeg" class="circle" alt="Avatar"></div>
    <div>
      <p class="meet-heading">Sue - Team Manager</p>
      <p class="text">Hello my name is Sue. I'm a Team Manager responsible for the running of the service.  I love rock climbing and watching Netflix. I love to bake bread in my free time when I have a few minutes from doing the school runs.</p>
    </div>
  </div>
</div>
