<style>
  .prose {
    margin: 0 auto 2rem;
    max-width: 87.5rem;
    padding: 0 1rem;
  }

  .prose strong {
    font-weight: bold;
  }

  .prose p {
    margin-bottom: 2rem;
  }

  .prose a {
    color: #558200;
    text-decoration: underline;
  }

  .ticks {
    list-style: none;
  }

  .ticks li {
    margin-bottom: 1rem;
  }

  .ticks li:before {
    content: "\2713";
    color: #558200;
    font-weight: bold;
    margin-right: 0.75rem;
  }
</style>

<div class="prose">
  <p><strong>Supported Lodgings hosts are approved individuals or families who wish to provide a safe and secure home as a stepping stone for young Care Leavers aged 18-25.</strong></p>

  <p>By welcoming a young person into their home and providing emotional support, hosts help to prepare them for adult life. They may need support with things like finishing their education, finding longer-term accommodation and help to develop life skills such as cooking, housework and budgeting – from anywhere between eight weeks and two years.</p>

  <p>Hosts are expertly matched with a young person and receive weekly payments, ongoing support and training from the Barnardo’s team.</p>

  <p>All you need is a spare room and time to care.</p>

  <p>This service sits alongside the Floating Support service as part of our London Supported Accommodation services.</p>

  <p>Please get in touch if you are interested in becoming a Supported Lodgings host in London.</p>

  <h2 class="heading">Who is this service for?</h2>

  <p>Care Leavers aged 18-25.</p>

  <h2 class="heading">Who can apply for this service?</h2>

  <p><strong>We accept referrals from:</strong></p>

  <ul class="ticks">
    <li>Young people</li>
    <li>Parents/carers</li>
  </ul>

  <p>If you are a young person, you can apply to use this service using the links below.</p>

  <p>If you are a parent/carer, you can refer a young person to this service using the links below.</p>

  <p><strong>Online</strong><br>
    <a href="#1">Fill in the online application form</a></p>

  <p><strong>Offline</strong><br>
    <a href="#1">Download and print the application form</a></p>

  <p>If you are not in the list above you can<br>
    <a href="#1">Search for more services here</a></p>
</div>

