<style>
  .prose {
    margin: 0 auto 2rem;
    max-width: 87.5rem;
    padding: 0 1rem;
  }

  .prose strong {
    font-weight: bold;
  }

  .prose p {
    margin-bottom: 2rem;
  }

  .prose a {
    color: #558200;
    text-decoration: underline;
  }

  .ticks {
    list-style: none;
  }

  .ticks li {
    margin-bottom: 1rem;
  }

  .ticks li:before {
    content: "\2713";
    color: #558200;
    font-weight: bold;
    margin-right: 0.75rem;
  }
</style>

<div class="prose">
  <p><strong>Harrow Horizons is a targeted mental health and wellbeing service for children and young people delivered throughout the community of Harrow. It offers a wide range of therapeutic interventions for CYP who do not meet the criteria for specialist CAMHS intervention.</strong></p>

  <p>The service is run by Barnardo’s in partnership with the NHS, Harrow Council and local schools. It is jointly funded by Harrow Council and Harrow Clinical Commissioning Group with additional financial input from schools requesting tailored interventions.</p>

  <p>Hosts are expertly matched with a young person and receive weekly payments, ongoing support and training from the Barnardo’s team.</p>

  <p>Harrow Horizons is there to support children and young people aged 0 to 18, and young people with special educational needs and disabilities up to the age of 25 alongside their families in Harrow who need help to improve their emotional health and wellbeing.</p>

  <p>The service is based in Harrow and run by qualified clinicians and volunteers. Horizons works closely with schools and other services across the borough, providing confidential, focused, targeted support for those who need it most.</p>

  <p>Referrals are accepted from young people themselves, parents/carers and any CYP professionals by email, phone and face to face.</p>

  <h2 class="heading">Who is this service for?</h2>

  <p>Children and young people aged 0 to 18, and young people with special educational needs and disabilities up to the age of 25 who lives in Harrow.</p>

  <h2 class="heading">Who can apply for this service?</h2>

  <p><strong>We accept referrals from:</strong></p>

  <ul class="ticks">
    <li>Young people</li>
    <li>Parents/carers</li>
  </ul>

  <p>If you are a young person, you can apply to use this service using the links below.</p>

  <p>If you are a parent/carer, you can refer a young person to this service using the links below.</p>

  <p><strong>Online</strong><br>
    <a href="#1">Fill in the online application form</a></p>

  <p><strong>Offline</strong><br>
    <a href="#1">Download and print the application form</a></p>

  <p>If you are not in the list above you can<br>
    <a href="#1">Search for more services here</a></p>
</div>

