<style>
  .service-logos {
    box-shadow: inset 0 0 0 1px #ccc;
    height: max-content;
    margin: 0 1rem 2rem;
    max-width: 24.833rem;
    padding: 1rem;
  }

  .service-logos img {
    width: 100%;
    height: auto;
  }

</style>

<div class="service-logos">
  <img src="/img/service-logo.jpeg">
</div>
