<style>
  .service-entityTeasers {
    margin: 0 1rem 2rem;
    padding: 0;
  }

  .service-entityTeasers__teaser {
    flex-basis: 49%;
  }
</style>


<aside class="service-entityTeasers">
  <h2 class="service-entityTeasers__teasersTitle">Related Barnardo's services</h2>
  <ul class="service-entityTeasers__wrapper">
    <li class="service-entityTeasers__teaser">
      <p class="service-entityTeasers__imageContainer">
        <img class="service-entityTeasers__image" src="/img/what-we-do.jpeg" alt="Find out what Barnardos do">
      </p>
      <h3 class="service-entityTeasers__title">
        <a class="text-link" href="/what-we-do">Find out what Barnardos does</a>
      </h3>
    </li>
    <li class="service-entityTeasers__teaser">
      <p class="service-entityTeasers__imageContainer">
        <img class="service-entityTeasers__image" src="/img/get-help.jpeg" alt="Find out what we do">
      </p>
      <h3 class="service-entityTeasers__title">
        <a class="text-link" href="/get-help">Other charities that can help</a>
      </h3>
    </li>
  </ul>
</aside>
