<style>
  .tags {
    border-bottom: 1px solid #ccc;
    margin: 0 1rem 3rem;
  }

  .tag-grey,
  .tag-orange {
    display: inline-block;
    background-color: #d6d6d6;
    padding: 0.5rem 1rem;
    margin: 1rem 0.5rem 1rem 0;
  }

  .tag-orange {
    background-color: #f8d2b2;
  }

  .tags b {
    font-weight: bold;
  }

</style>

<div class="tags">
  <p><b>Type of service:</b></p>
  <span class="tag-grey">Leaving care</span> <span class="tag-grey">Housing and homelessness</span>
  <p><b>We accept referrals from:</b></p>
  <span class="tag-orange">Young people</span> <span class="tag-orange">Parents/carers</span>
</div>

