<style>
  .embedYouTube {
    margin: 0 1rem 3rem !important;
    padding: 0;
  }
</style>

<div class="embedYouTube">
  <div class="embedYouTube__wrapper">
    <iframe class="embedYouTube__item" src="https://www.youtube.com/embed/FvjtcGsrggA?rel=0" aria-label="Play media" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" frameborder="0"></iframe>
  </div>
</div>
